/** RESET **/

/* Use a more-intuitive box-sizing model */
*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; font-family: inherit; }

/* Add accessible line-height */
body { line-height: 1.5; }

/* full height always */
body { min-height: 100vh; }

/* Anything that has been anchored to should have extra scroll margin */
:target { scroll-margin-block: 5ex; }

/* Inherit fonts for form controls */
input, button, textarea, select { font: inherit; }

/** LAYOUT **/

#center { width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; }
#search { flex: 0 1 auto: order: 1; }
main { flex: 0 1 auto; order: 3; }
#relations { flex: 0 1 auto; order: 5;}

footer>*,
header>*,
main { max-width: 40em; padding: 1em; margin: 3px auto; }

main pre { padding: 0.2em 0.5em; margin-bottom: 1em; }

main p { margin-top: 1em; }

div.inclusion { margin: 1em 0; padding: 0.5em 0.2em; }

.inclusion a.inclusion { float: right; }

details.metainfo { margin: 1em 0 0 0; }

#backlinks ul { padding: 0; }
#backlinks li:first-child::before { content: "Backlinks: "; }
#backlinks li { display: inline; }
#backlinks li+li::before { content: ", "; }

/** FONTS, TYPOGRAPHY **/

body { font-family: Helvetica, "Helvetica Neue", Roboto, "Liberation Sans", "DejaVu Sans Condensed", "Nimbus Sans", "Nimbus Sans L", sans-serif; }
code { font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; }

body { font-size: 18px; }

main h1,
main h2 { font-weight: normal; }

details.metainfo summary,
.inclusion a.inclusion { font-size: 0.8em;}

main a[href^="//"]::before,
main a[href^="https://"]::before,
main a[href^="http://"]::before { content: '🌐'; opacity: 0.5; font-size: 0.7em; }
main a[href^="mailto:"]::before { content: '📧'; opacity: 0.5; font-size: 0.8em; }

/** COLORS **/

body { background: #ddd; }
main { background: #fff; }
main pre { background: #eee; }

div.inclusion { border: 1px solid #ccc; }
details.metainfo summary { color: #999; }
